{% extends "layout.html" %}
{% block films_list %}
<h2 class="text-center">Дайджест фильмов</h2>
<div class="container">
    <table class="table">
        <tbody>
            {% for movie in movies %}
            <tr>
                <td>
                    <h2>{% for link in afisha_link %}<a href="{{link}}"> {% endfor%}{{movie['name']}}</a></h2>

                    <h4 class = 'text-primary'>{{movie['origin_name']}}</h4>
                    
                    <h4>{{movie['description']}}</h4>
                    <div class="row">
                        <div class="col-md-5">
                            <img  class="img-rounded" src ="{{ movie['image'] }}" width="460" height="230" alt="Movie image">
                        </div>
                        <div class="col-md-6">
                            <p class="lead"><strong>Жанр: </strong><span class="text-primary">{{movie['genre']}}</span></p>
                        </div>
                       
                        <div class="col-md-6">
                            {% if movie['actors'] %}
                            <p><strong>В ролях: </strong>
                                {% for actor in movie['actors'] %}
                                <span class="text-primary">{{actor}},</span>
                                {% endfor%}
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <p><strong >Рейтинг по версии Афиша: </strong><span class="text-primary">{{movie['afisha_rating']}}&#9734;</span></p>
                        </div>
                        {% if movie['rating'] %}
                        <div class="col-md-6">
                            <p><strong>Рейтинг по версии Kинопосик: </strong><span class="text-primary">{{movie['rating']}}&#9734;</span></p>
                        </div>
                        {% endif %}
                        {% if movie['votes'] %}
                        <div class="col-md-6">
                            <p><strong>Количество голосов: </strong><span class="text-primary">{{movie['votes']}}&#9734;</span></p>
                        </div>
                        {% endif %}
                    </div>
                    <div class="well well-sm">
                        <p>{{movie['text']}}</p>
                    </div>
                </td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
</div>
{% endblock %}