<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/css/main.css" rel="stylesheet">
        <title>Так что же в кино</title>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="col-md-4">
                    <div class="navbar-header">
                        <p class="navbar-text"><a href="/api_description" class="navbar-link">API information</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3 class="text-center">Devman</h3>
                </div>
            </div>
        </nav>
        {% block films_list %}{% endblock %}
        {% block api %}{% endblock %}
        <footer>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <p class="text-center">
                        Настоящий сайт создан в исключительно учебных целях. Все сведения о фильмах взяты с сайтов Афиша и Кинопоиск.
                    </p>
                </div>
            </div>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        </footer>
        <!-- Latest compiled and minified JavaScript -->
    </body>
</html>